@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.heading-font {
  font-family: 'Bebas Neue', sans-serif;
}

.gradient-logo {
  background: linear-gradient(135deg, #B1E5FC 0%, #9796F0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}